<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Establishing a new contract</title>
</head>
<body>

<div class="alert alert-primary text-center" role="alert">
    <h1>Establishing a new contract</h1>
</div>

<div class="container w-50">
    <div class="card text-center">
        <div class="card-header">

        </div>
        <div class="card-body">

            <form th:action="@{/contract/create}" th:object="${contract}" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" aria-describedby="text" th:field="*{user.name}">
                </div>

                <div class="form-group">
                    <label for="surname">Surname</label>
                    <input type="text" class="form-control" id="surname" aria-describedby="text" th:field="*{user.surname}">
                </div>

                <hr>

                <div class="form-group">
                    <label for="natalNumber">Natal Number</label>
                    <input type="text" class="form-control" id="natalNumber" aria-describedby="text" th:field="*{user.natalNumber}">
                </div>

                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="text" class="form-control" id="email" aria-describedby="text" th:field="*{user.email}">
                </div>

                <hr>

                <div class="form-group">
                    <label for="date">Begin of insurance</label>
                    <input type="date" class="form-control" id="date" aria-describedby="text" th:field="*{beginOfInsurance}"/>
                </div>

                <div class="form-group">
                    <label for="date2">End of insurance</label>
                    <input type="date" class="form-control" id="date2" aria-describedby="text" th:field="*{endOfInsurance}"/>
                </div>

                <div class="form-group">
                    <label for="InsuranceAmount">Insurance Amount</label>
                    <input type="number" step="0.01" class="form-control" id="InsuranceAmount" th:field="*{insuranceAmount}"/>
                </div>

                <div class="form-group">
                    <label for="monthlyAmount">Insurance Amount</label>
                    <input type="number" step="0.01" class="form-control" id="monthlyAmount" th:field="*{monthlyPayment}"/>
                </div>


                <button type="submit" class="btn btn-primary">Add</button>
            </form>

        </div>
        <div class="card-footer text-muted">

        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>