<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC - list</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Id</th>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Nationality</th>
        <th class="mdl-data-table__cell--non-numeric">price</th>

    </tr>
    </thead>
    <tbody>
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.nationality}"></td>
        <td th:text="${item.price}"></td>
    </tbody>

</table>
<hr>
<table>
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">TrackedChassis id</th>
        <th class="mdl-data-table__cell--non-numeric">TrackedChassis name</th>
        <th class="mdl-data-table__cell--non-numeric">TrackedChassis carrying</th>
        <th class="mdl-data-table__cell--non-numeric">TrackedChassis rotationSpeed</th>
        <th class="mdl-data-table__cell--non-numeric">TrackedChassis maxSpeed</th>
        <th class="mdl-data-table__cell--non-numeric">TrackedChassis beltWidth</th>

    </tr>
    </thead>
    <tbody>
    <td th:text="${item.trackedChassis.id}"></td>
    <td th:text="${item.trackedChassis.name}"></td>
    <td th:text="${item.trackedChassis.carrying}"></td>
    <td th:text="${item.trackedChassis.rotationSpeed}"></td>
    <td th:text="${item.trackedChassis.maxSpeed}"></td>
    <td th:text="${item.trackedChassis.beltWidth}"></td>
    <td></td>
    </tbody>

</table>

<hr>

<p th:text="${item.toString()}"></p>
<hr>

<a th:href="@{'/detail-chassis/' + ${item.id}}">deatail chassis</a>
<br>
<a th:href="@{'/detail-tower/' + ${item.id}}">detail tower</a>
<hr>
<a th:href="@{'/list-vehicles'}">Veiw All</a>

</body>
</html>